{% extends "AppBlog/1padre.html" %}
{% load static %}
{% block title %}
Categoria {{ categoria }}
{% endblock %}

{% block contenido_que_cambia %}
<h1> Todas las noticias de {{ categoria }} </h1>
<hr>
{% for noticia in lista_noticias %}
<div class="noticia-container"> <!-- MEJORAR ESTOO -->
    <h1><a href= "{% url 'AppBlog:detalle' noticia.pk %}">{{ noticia.titulo }} </a></h1> <!-- Si apreta el titulo va al detalle -->
    <h2>{{ noticia.subtitulo }}</h2>
    <h6>Escrito por {{ noticia.autor }}, el día {{ noticia.fecha_creacion }}</h6>
    {% if user.is_authenticated %}
        {% if user.id == noticia.autor.id %}
            <a href= "{% url 'AppBlog:editar_noticia' noticia.pk %}"> [Editar] </a>
            <a href= "{% url 'AppBlog:eliminar_noticia' noticia.pk %}"> [Eliminar] </a>
        {% endif %}
    {% endif %}
    <hr>

</div>
{% endfor %}
<br>
<a class="btn btn-primary btn-lg px-4" href=" {% url 'AppBlog:form_noticia' %}"> Crear una noticia </a>
{% endblock %}
