{% extends "AppBlog/1padre.html" %}
{% load static %}
{% block title %}
{% endblock %}

{% block contenido_que_cambia %}


            <div class="text-center mb-5">
                <h2 class="fw-bolder">Edición de usuario {{ nombre_de_usuario }} </h2>
            </div>

            <div class="form-container">

                    <form method="post" action="{% url 'AppBlog:editar_usuario' id %}" class="form-carga"> {% csrf_token %}

                           

                                {{ formulario.as_p }}

                           

                            <input class= "btn btn-primary btn-lg px-4 me-sm-3" type="submit" value="Guardar">

                    </form>
            
            </div>

            <h2 class="fw-bolder msj-form-carga"> {{ mensaje }} </h2>
            <a class="btn btn-primary btn-lg px-4" href=" {% url 'AppBlog:usuarios' %}"> Editar otro usuario </a>


{% endblock %}