{% extends "AppBlog/1padre.html" %}
{% load static %}
{% block title %}
Formulario de Noticias
{% endblock %}

{% block contenido_que_cambia %}

    {% if form != null %}


            <div class="text-center mb-5">
                <h2 class="fw-bolder">Creación de usuario</h2>
                <p class="lead mb-0">Completá el siguiente formulario</p>
            </div>

            <div class="form-container">

                    <form method="post" action="{% url 'AppBlog:form_usuario' %}" class="form-carga"> {% csrf_token %}

                           

                                {{ form.as_p }}

                           

                            <input class= "btn btn-primary btn-lg px-4 me-sm-3" type="submit" value="Enviar">

                    </form>
            
            </div>

    {% else %}

            <h2 class="fw-bolder msj-form-carga"> {{ mensaje }} </h2>
            <a class="btn btn-primary btn-lg px-4" href=" {% url 'AppBlog:form_usuario' %}"> Crear otro usuario </a>

    {% endif %}

{% endblock %}