{% extends "AppBlog/1padre.html" %}
{% load static %}
{% block title %}
{{ noticia.titulo }}
{% endblock %}

{% block contenido_que_cambia %}
        <h1>{{ noticia.titulo }}</h1>
        <h2>{{ noticia.subtitulo }}</h2>
        <h3>{{ noticia.cuerpo|safe }}</h3>
        <h4>Escrito por {{ noticia.autor }} </h4>
        <h4>Creada el día : {{ noticia.fecha_creacion }}</h4>
        <h4>Última modificación : {{ noticia.ultima_modificacion }}</h4>
        {% if user.is_authenticated %}
                {% if user.id == noticia.autor.id %}
                        <a href= "{% url 'AppBlog:editar_noticia' noticia.pk %}"> [Editar] </a>
                        <a href= "{% url 'AppBlog:eliminar_noticia' noticia.pk %}"> [Eliminar] </a>
                        <br>
                {% endif %}
        {% endif %}
        <hr>
        <form action="{% url 'AppBlog:like_noticia' noticia.pk %}" method="POST">
           {% csrf_token %}
        <button type="submit" name="noticia_like" value="{{ noticia.id }}" class="btn btn-primary btn-sm"> 
                Me gusta 
        </button>
        </form>
        <hr>
        <a href="{% url 'AppBlog:inicio' %}">Volver al inicio</a>
{% endblock %}