{% extends "AppBlog/1padre.html" %}
{% load static %}
{% block title %}
{{ noticia.titulo }}
{% endblock %}

{% block contenido_que_cambia %}
        <h1>{{ noticia.titulo }}</h1>
        <p class= "noticia-subtitulo">{{ noticia.subtitulo }}</p>
        <p class = "noticia-cuerpo">{{ noticia.cuerpo|safe }}</p>
        <h5>Escrito por {{ noticia.autor }} </h4>
        <h5>Creada el día : {{ noticia.fecha_creacion }}</h4>
        <h5>Última modificación : {{ noticia.ultima_modificacion }}</h4>
        {% if user.is_authenticated %}
                {% if user.id == noticia.autor.id %}
                        <a href= "{% url 'AppBlog:editar_noticia' noticia.pk %}"> [Editar] </a>
                        <a href= "{% url 'AppBlog:eliminar_noticia' noticia.pk %}"> [Eliminar] </a>
                        <br>
                {% endif %}
        {% endif %}
        <hr>
        {% if user.is_authenticated %}
                {% if likeado %}
                <form action="{% url 'AppBlog:like_noticia' noticia.pk %}" method="POST">
                {% csrf_token %}
                        <button type="submit" name="noticia_like" value="{{ noticia.id }}" class="btn btn-secondary btn-sm"> 
                        Ya no me gusta
                        </button>
                </form>

                {% else %}
                <form action="{% url 'AppBlog:like_noticia' noticia.pk %}" method="POST">
                {% csrf_token %}
                        <button type="submit" name="noticia_like" value="{{ noticia.id }}" class="btn btn-primary btn-sm"> 
                        Me gusta
                        </button>
                </form>
                {% endif %}
        {% endif %}
        <hr>
        - A {{ cantidad_likes }} personas les gusta esta noticia! 
        <br>
        <hr>
        <h3> Comentarios </h3>
        {% if not noticia.comentarios.all %}
        - Aún no hay comentarios.
        <br>
        {% else %}
                {% for comentario in noticia.comentarios.all %}
                <hr>
                Comentario por <strong>{{ comentario.autor }} - {{ comentario.fecha_creacion }} 
                <br>
                {{ comentario.texto|safe }}
                <hr>
                {% endfor %}
        {% endif %}
        <br>
        <a href="{% url 'AppBlog:form_comentario' noticia.pk %}">[Agregar un comentario]</a>
        <br>
        <a href="{% url 'AppBlog:inicio' %}">[Volver al inicio]</a>
{% endblock %}

