{% extends "AppBlog/1padre.html" %}
{% load static %}
{% block title %}
Nueva Categoria
{% endblock %}

{% block contenido_que_cambia %}
{% if form != null %}


<div class="text-center mb-5">
        <h2 class="fw-bolder">Formulario Categoría</h2>
        <p class="lead mb-0">Completá el siguiente formulario</p>
</div>

<div class="form-container">

        <form method="post" action="{% url 'AppBlog:form_categoria' %}" class="form-carga"> {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input class="btn btn-primary btn-lg px-4 me-sm-3" type="submit" value="Añadir categoría">

        </form>

</div>

{% else %}
<a class="btn btn-primary btn-lg px-4" href=" {% url 'AppBlog:form_noticia' %}"> Crear otra noticia </a>

{% endif %}

{% endblock %}