{% extends "AppBlog/1padre.html" %}
{% load static %}
{% block title %}
Lista de Usuarios
{% endblock %}

{% block contenido_que_cambia %}
{% for usuario in usuarios %}
<div class="noticia-container"> <!-- MEJORAR ESTOO -->
    <h3>Nombre : {{ usuario.nombre }}</h3>
    <h3>Apellido : {{ usuario.apellido }}</h3>
    <h3>Email : {{ usuario.email }}</h3>
    <h3>Nombre de usuario : {{ usuario.nombre_de_usuario }}</h3>
    <!-- <h3>Contraseña : {{ usuario.contraseña1 }}</h3>
    <h3>Contraseña : {{ usuario.contraseña2 }}</h3>
     -->
</div>
<button><a href = "{% url 'AppBlog:eliminar_usuario' usuario.id %}" >Eliminar</a></button>
<button><a href = "{% url 'AppBlog:editar_usuario' usuario.id %}" >Editar</a></button>

{% endfor %}

{{ mensaje }}

<p><button><a class="btn btn-primary btn-lg px-4" href=" {% url 'AppBlog:form_usuario' %}"> Crear otro usuario </a></button></p>

{% endblock %}