{% extends "AppBlog/1padre.html" %}
{% load static %}
{% block contenido_que_cambia1 %}
<h2 class="post-title">Iniciá sesión para subir una noticia</h2>
{% endblock %}

{% block contenido_que_cambia %}

        <!-- Main Content-->
         <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        <a href="post.html">
                            <h2 class="post-title">Lorem Ipsum</h2>
                            <h3 class="post-subtitle">Proin id sem commodo, condimentum augue id, suscipit dolor.</h3>
                        </a>
                        <p class="post-meta">
                            Creado por
                            <a href="#!">Projecto Django</a>
                            on September 24, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                </div>
            </div>
        </div> 

{% endblock %}