{% extends "AppBlog/1padre.html" %}
{% load static %}
{% block title %}
Página de Registro
{% endblock %}

{% block contenido_que_cambia %}

            <div class="text-center mb-5">
                <h2 class="fw-bolder">Registro</h2>
                <p class="lead mb-0">Completá el siguiente formulario</p>
            </div>

            <div class="form-container">

                    <form method="post"> 
                            {% csrf_token %}
                                {{ form.media }}
                                {{ form.as_p }}
                            <input class= "btn btn-primary btn-lg px-4 me-sm-3" type="submit" value="Registrarse">

                    </form>
            
            </div>


{% endblock %}